@import 'src/scss/colors';
@import 'src/scss/fonts';
@import 'src/scss/variables';
$input-border: $gainsboro-gray;
$focus-color: $wolox-blue;
$red-error: $red;

.container {
  margin-bottom: 30px;
  position: relative;
  width: 100%;

  &::after {
    border: 1px solid $input-border;
    border-radius: 0.25rem;
    bottom: 0;
    content: '';
    left: 0;
    margin: 0;
    padding: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: border ;
    transition-duration: $default-transition-duration * 2;
    transition-timing-function: $border-transition-timing;
  }

  &.focused {
    &:after {
      border: 2px solid $focus-color;
    }

    .label {
      color: $focus-color;
    }
  }

  &.focused .label,
  &.has-value .label {
    font-size: $text-small;
    transform: translate(10px, -45px);
  }

  &.error {
    &::after {
      border: 2px solid $red-error;
    }

    .label {
      color: $red-error;
    }
  }
}

.message-error {
  bottom: -15px;
  color: $red-error;
  display: block;
  font-size: $text-xs;
  padding-left: 5px;
  position: absolute;
}

.input {
  border-radius: 0.25rem;
  color: $black;
  display: block;
  padding: 18px 15px;
  transition: color 200ms ease;
  width: 100%;
}

.label {
  background-color: $white;
  bottom: 0;
  font-size: $text-medium;
  padding: 0 5px;
  pointer-events: none;
  position: absolute;
  transform: translate(10px, -19px);
  transition: transform, font-size;
  transition-duration: $default-transition-duration * 1.5;
  transition-timing-function: $label-transition-timing;
  z-index: 5;
}
