@import 'src/scss/variables';
@import 'src/scss/colors';
$margin-top-form: $m-negative-top-30;

.login {
  align-items: center;
  background-color: $white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.logo {
  display: block;
  margin-bottom: 30px;
  width: $main-logo-size;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: $margin-top-form;
  padding: 32px;
  width: $form-container-width;
}
