$nav-height: 90px;
$nav-logo-height: 30px;
$title-decoration-height: 90px;
$title-decoration-width: 70px;
$tech-logo-size: 100px;
$tech-logo-size-big: 200px;
$column-width: 300px;
$max-width: 1024px;
