.footer-project {
  align-items: center;
  background-color: $blue;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  position: relative;
  width: 100%;
}

.footer-text {
  color: $white;
}

.footer-title {
  font-size: $text-big;
}

.footer-copyright {
  align-self: flex-end;
}
