.section-project {
  padding: 2rem;
}

.m-bottom-1 {
  margin: 0 0 1rem 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 2rem;
  width: 1200px;
}

.l-container {
  margin: 0 auto;
  max-width: 1600px;
}
