%equal-align {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tech {
  @extend %equal-align;

  border-radius: 5px;
  margin: 1rem;
  padding: 1rem;
  position: relative;
  width: 230px;

  &s-container {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(3, $column-width);
    justify-self: center;
  }

  &:first-child {
    border-right: 2px solid #BED23C;
    grid-row: 1/3;
  }

  &-logo {
    height: $tech-logo-size;
    object-fit: contain;
    width: 100%;
  }

  &-info {
    @extend %equal-align;

    margin: 1rem 0;
  }

  &-release {
    font-weight: bold;
  }

  &-description {
    text-align: center;
  }
}
