%equal-align {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tech {
  @extend %equal-align;

  background-color: $green;
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem;
  position: relative;
  width: 230px;

  &::before {
    border: 1px solid $green;
    border-radius: 5px;
    content: '';
    height: 100%;
    left: -10px;
    position: absolute;
    top: -10px;
    transition: all 0.30s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    width: 100%;
  }

  &:hover::before {
    left: 10px;
    top: 10px;
  }

  &-logo {
    width: $tech-logo-size;
  }

  &-info {
    @extend %equal-align;

    margin: 1rem 0;
  }

  &-release {
    font-weight: bold;
  }

  &-description {
    text-align: center;
  }

  &s-container {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    width: 1050px;
  }
}
