.main-title{
  font-size: $text-big;
  left: -20px;
  position: relative;
  top: 5px;

  &-img{
    height: 100%;
    max-height: $title-decoration-height;
    max-width: $title-decoration-width;
    width: 100%;
  }

  &-container {
    align-items: center;
    display: flex;
  }
}
